<ion-header>
  <ion-toolbar>
    <ion-title>
      Apple Healthkit
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-card *ngFor="let card of allowedMetrics" [card]="card"></app-card>
</ion-content>
<!-- <p>Authorized:</p

  <ion-button (click)="isAvailable()" color="dark">Check healthkit availability</ion-button>
  <ion-button (click)="isAuthorized()" color="dark">Check if access authorized</ion-button>
  <ion-button (click)="grantAccess()" color="dark">Request auth</ion-button>
  {{access}}
  <ion-button (click)="getHeight()" color="dark">Get height</ion-button>
  <ion-button (click)="getWeight()" color="dark">Get weight</ion-button>
  <ion-button (click)="getDOB()" color="dark">Get age</ion-button>
  <ion-button (click)="querySampleTypeAggregated()" color="dark">Get step count</ion-button>
  <ion-button (click)="getSleepAnalysis()" color="dark">Get sleep analysis</ion-button>

  <!-- calories resp: {{calories}} -->
<!-- <ion-button (click)="saveKCAL()" color="dark">test input calories</ion-button> -->