<ion-header>
  <ion-toolbar>
    <ion-title>
      Permissions config
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let item of ionItems">
      <ion-item-divider>
        <ion-label>
          {{item.title}}
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Read:</ion-label>
        <ion-toggle (ionChange)="toggleItem(item)" [(ngModel)]=item.permissions.read></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Write: </ion-label>
        <ion-toggle (ionChange)="toggleItem(item)" [(ngModel)]=item.permissions.write></ion-toggle>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button (click)="clearAllSettings()" color="danger" expand="full">Clear all permissions</ion-button>
</ion-content>